<html>
    <head>
        <title>Hola</title>
    </head>
    <body>
        <h1><%- titulo %> </h1>
        <li><%- JSON.stringify(users) %> </li>
        <% for(var i=0; i < users.length; i++) { %>
            <li><%= users[i].username %></li>
        <% } %>
        <button id="boton">Hola</button>
        <script src="./javascripts/jquery.min.js"></script>
        <script src="./javascripts/demo.js"></script>    
    </body>
</html>